/* reservation.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

#header{
    color: #c0c0c0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    border-bottom: solid 1px #3b3b3b9d;
    background: #6b3400;
}
#header img{
    width: 180px;
}
#header img:hover{
    cursor: pointer;
}
#header menu ul{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
#header menu ul a{
    list-style: none;
    font-weight: 600;
    color: #f2f2f2;
    text-decoration: none;
}
#header menu ul a:hover{
    color: #c0c0c0;
    transition: 0.4s;
    cursor: pointer;
}
#header menu ul a:active{
    text-decoration: none;
    color: #f2f2f2;
}

/* Reservation Form */
.reservation {
    padding: 60px 20px;
    text-align: center;
}

.reservation h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.reservation form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.reservation form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.reservation form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.reservation form .btn {
    padding: 15px 30px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}